<!DOCTYPE html>
<html>
<head>
  <title>SwellThemeStamp</title>
  <%= stylesheet_link_tag    "swell_theme_stamp/application", media: "all" %>
  <%= javascript_include_tag "swell_theme_stamp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
