.navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation
	.container
		.navbar-header
			%button.navbar-toggle{ type: :button, data: { toggle: :collapse, target: "#stamp-navigation" } }
				%span.sr-only
					Toggle Navigation
				%span{ style: 'color:#555;' }
					%i.fa.fa-navicon

			%a.navbar-brand{ href: swell_media.root_path() }
				= image_tag 'groundswell_logo_nav.png', height: 70, width: 280, style: 'display:inline;'

		.navbar-collapse.collapse#stamp-navigation
			%ul.nav.navbar-nav.navbar-left.main-navigation.small-text
				%li
					%a{ href: "#{swell_media.root_path()}#section1" }
						Services
				%li
					%a{ href: "#{swell_media.root_path()}#section2" }
						About
				-# %li
					%a{ href: "#{swell_media.root_path()}#section3" }
						Testimonials
				%li
					%a{ href: swell_media.articles_path() }
						Articles

			%ul.nav.navbar-nav.navbar-right.login-register.small-text
				-# %li.login.js-login
					%a{ href: login_path }
						Login
				%li.register-button.js-register.inpage-scroll{ style: 'display: none;' }
					%a.navbar-register-button{ href: swell_media.new_contact_path }
						Get Started